<h1>log in</h1>


<form action="/login" method="POST">
 
  <div>
    <label for="email">Email:</label><br />
    <input type="email" id="email" name="email" required />
  </div>
  <div>
    <label for="passward">passward :</label><br />
    <input type="password" id="passward" name="passward" required />
  </div>
  <button type="submit">Log in</button>
</form>
<h4>if u don't have already acc please <span><a href="/register">Register</a></span></h4>
